numpy
torch
transformers
ultralytics
opencv-python
Pillow
mediapipe
matplotlib
ollama
pyttsx3
piper-tts
faster-whisper
open_clip_torch
pandas
playwright
requests
beautifulsoup4
transformers
PyYAML
openwakeword
